<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Beta Docnu" verbose="1" >


<listeners>

<listener class-name="Utitlity.ExtentReportsNG" />

  </listeners>
  
  <test name="DocnuMVC" >
    
  </test>
 
  <test name="docnu">
    <classes>
         <class name="TestCases.Login_testcase"/>
   </classes>
  </test>
</suite>
